@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header  */
@keyframes shake {
  0% {
    transform: translate(1px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s;
  }
}

/* end header  */

/* skill */
@keyframes zoomInSkill {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in-skill {
  animation: zoomInSkill 0.5s ease-in-out forwards;
}
/* end skill */

/* sponsor  */
@keyframes slideSponsor {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-sponsor {
  animation: slideSponsor 8s ease-in-out infinite;
}
/* end sponsor  */
